body {
    background: hsl(212, 45%, 89%);
}

p {
    font-size: 15px;
    font-family: 'Outfit', 'Rubik', sans-serif;
}
p.thick {
    color: hsl(218, 44%, 22%);
    font-size: 20px;
    font-weight: bold;
}

p.colored {
    color: hsl(220, 15%, 55%);
}

div {
    width: 300px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}
div .small {
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.center-horizontal {
    text-align: center;
    padding-left : 10px;
    padding-right: 10px;
    margin-top: 0px;

}

img {
    margin: auto;
    width: 90%;
    height: 60%;
    padding: 15px;
    object-fit: fill;
    border-radius: 25px;
}
